:host ::ng-deep mat-grid-tile:first-child {
    // background-color: yellow;
    width: 200px !important;
    height: 100vh;
    display: inline-block;
    position: inherit;
    padding: 0px  !important;
}
:host ::ng-deep mat-grid-tile:last-child {
    // background-color: red;
    width: 300px !important;
    height: 100vh;
    display: inline-block;
    position: inherit;
    padding: 0px  !important;
}
:host ::ng-deep mat-grid-tile:nth-child(2) {
    // background-color: blue;
    width: calc(100% - 500px) !important;
    height: 100vh;
    display: inline-block;
    position: inherit;
    padding: 0px  !important;
}
:host ::ng-deep .mat-grid-tile-content{
    position: relative;
    align-items: baseline;
    justify-content: flex-start;
}
@media only screen and (max-width: 600px) {
    :host ::ng-deep .mat-grid-list{
        overflow-x: scroll;
    }
}